body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 32px;
}
.flexible-container{
    display: flex;
}
.orange-design{
    color: #FFB52E;
}

.top-banner{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(to bottom left,#FF664A,#FF9D78);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.dream-big{
    padding-top: 100px ;
    background: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.experience{
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    margin: 100px 0;
}
.experience .half-width{
    padding-left: 5%;
    margin: 0 5%;
    box-shadow: 2px 2px 15px gray;
}
.experience .half-width:nth-child(1){
    /*border-left-width: 10px;
    border-left-color:#FF9571 ;
    border-left-style: solid;*/
    border-left: 10px solid;
    border-image:linear-gradient(#FF664A,#FF9D78); 
    border-image-slice: 1;
}
.experience .half-width:nth-child(2){
   /* border-left-width: 10px;
    border-left-color: #0016FF;
    border-left-style: solid; */
    border-left: 10px solid;
    border-image:linear-gradient(#0013FF,#00F4FF); 
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
